<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <title>Login</title>
</head>
<body>
    <div class="form-container" id="loginForm">
        <form action="/login" method="post" autocomplete="off">
            <h1>Login</h1>
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>

            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <br>
            <img src="https://cdn-icons-png.flaticon.com/512/65/65000.png" alt="" id="imgEye">
            <br>

            <div class="form-actions">
                <button type="submit">Login</button>
                <div class="signup-row">
                    <p class="message">Don't have an account?</p>
                    <a href="{{ url_for('main.register') }}">Sign up</a>
                </div>
            </div>
        </form>
    </div>
    {% include 'flash.html' %}
    {% include 'img_eye_script.html' %}
</body>
</html>
