<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta name="description" content="Register page for the Portfolio Calculator application.">
    <meta name="keywords" content="Portfolio, Calculator, Login, Finance, Investment">
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    <form action="/Register" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>

        <button type="submit">Register</button>
</body>
</html>